<h1 class="post-form-title">
  {{ mode() === 'create' ? 'New Post' : 'Edit Post' }}
</h1>

<form
  [formGroup]="postForm"
  novalidate
  (ngSubmit)="onSavePost()"
  aria-label="Post Form">
  <mat-card class="post-form-card" appearance="outlined">
    <mat-card-content>
      <div class="form-grid">
        
        <!-- title -->
        <mat-form-field  appearance="outline">
          <mat-label>Title</mat-label>
          <input
            matInput
            type="text"
            formControlName="title"
            title="Title"
            aria-describedby="title-error" />
          @if (postForm.controls['title'].hasError('required')) {
          <mat-error id="title-error">Please enter a post title.</mat-error>
          }
        </mat-form-field>

        <!-- author -->
        <mat-form-field appearance="outline">
          <mat-label>Author</mat-label>
          <input
            matInput
            type="text"
            formControlName="author"
            placeholder="Author"
            aria-describedby="author-error" />
          @if (this.postForm.controls['author'].hasError('required')) {
          <mat-error id="author-error">Please enter an author.</mat-error>
          }
        </mat-form-field>

        <!-- category -->
        <mat-form-field appearance="outline">
          <mat-label>Category</mat-label>
          <mat-select formControlName="category">
            <mat-option value="" disabled>Select Category</mat-option>
            @for (category of categories; track category) {
            <mat-option [value]="category.value"
              >{{ category.viewValue }}</mat-option
            >
            }
          </mat-select>
          @if (this.postForm.controls['category'].hasError('required')) {
          <mat-error>Please select a post category.</mat-error>
          }
        </mat-form-field>

        <!-- date -->
        <mat-form-field appearance="outline">
          <mat-label>Published Date</mat-label>
          <input
            matInput
            [matDatepicker]="picker"
            formControlName="publishedDate"
            placeholder="Publication Date" />
          <mat-datepicker-toggle
            matSuffix
            [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
          @if (this.postForm.controls['publishedDate'].hasError('required')) {
          <mat-error>Please select a publication date.</mat-error>
          }
        </mat-form-field>

        <!-- body -->
        <mat-form-field appearance="outline">
          <mat-label>Content</mat-label>
          <textarea
            matInput
            rows="8"
            formControlName="body"
            title="Body"
            aria-describedby="body-error"></textarea>
          @if (this.postForm.controls['body'].hasError('required')) {
          <mat-error id="body-error"
            >Please provide content for your post.</mat-error
          >
          }
        </mat-form-field>
      </div>
    </mat-card-content>

    <mat-card-actions class="card-actions">
      <button mat-stroked-button type="button" (click)="postForm.reset()">
        Clear
      </button>
      <span class="flex-spacer"></span>
      <button
        matButton
        type="submit"
        [disabled]="!postForm.valid">
        {{ mode() === 'create' ? 'Create' : 'Update' }}
      </button>
    </mat-card-actions>
  </mat-card>
</form>
