@use '../../../styles/helpers/constants';

.post-description {
  margin-top: 3rem;
  margin-bottom: 2rem;
  margin-right: 2rem;

  padding: 2rem;
  
  border-style: constants.$border-style;
  border-width: constants.$border-width;
  border-radius: constants.$border-radius;
}
