<section class="hero-container" role="region" aria-label="Hero">
  <div class="hero-overlay"></div>

  <div class="hero-content">
    <img
      class="hero-image"
      src="/logos/cube-svgrepo-com.svg"
      alt="Web app logo" />

    <h1 class="title">{{ title() }}</h1>
    <h2 class="subtitle">{{ subtitle() }}</h2>

    <div class="hero-actions">
      <a
        matButton="filled"
        routerLink="/about"
        aria-label="Learn more about this blog"
        >About</a
      >
    </div>
  </div>
</section>
