<main class="signin-page-container" aria-label="Forgot Password Page">
  <mat-card class="signin-form" appearance="raised">
    <div class="title-text">
      <h1>Personal Blog</h1>
      <p>Reset your password.</p>
    </div>

    @if (submitted()) {
    <mat-card-content class="success-message">
      <p>Check your email for a password reset link.</p>
      <a routerLink="/signin">Back to Sign In</a>
    </mat-card-content>
    } @else {
    <mat-card-content>
      <form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()">
        <!-- email -->
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Email</mat-label>
          <input
            matInput
            type="email"
            formControlName="email"
            placeholder="name@example.com"
            autocomplete="email" />
          @if (forgotPasswordForm.get('email')?.hasError('required') &&
          forgotPasswordForm.get('email')?.touched) {
          <mat-error aria-live="polite"
            >Please enter your email address.</mat-error
          >
          } @if (forgotPasswordForm.get('email')?.hasError('email') &&
          forgotPasswordForm.get('email')?.touched) {
          <mat-error aria-live="polite">Invalid email format.</mat-error>
          }
        </mat-form-field>

        <mat-card-actions>
          <button
            matButton="filled"
            class="submit-button"
            type="submit"
            [disabled]="forgotPasswordForm.invalid || isLoading()">
            @if (isLoading()) {
            <mat-spinner diameter="20"></mat-spinner>
            } @else { Send Reset Link }
          </button>
        </mat-card-actions>
      </form>
    </mat-card-content>

    <div class="signin-footer-link">
      <span>Remember your password? </span>
      <a routerLink="/signin">Sign in here.</a>
    </div>
    }

    <mat-card-footer class="signin-footer">
      <small>&copy; {{ year }} Gregory Wiley. All rights reserved.</small>
    </mat-card-footer>
  </mat-card>
</main>
