<main class="signin-page-container" aria-label="Sign In Page">
  <mat-card class="signin-form" appearance="raised">
    <div class="title-text">
      <h1>My Blog</h1>
      <p>Please sign in.</p>
    </div>
    <mat-card-content>
      <form [formGroup]="signinForm" (ngSubmit)="onSubmitSignIn()">
        <!-- email -->
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Email</mat-label>
          <input
            matInput
            type="email"
            formControlName="email"
            title="name@example.com"
            autocomplete="username" />
          @if (formControls['email'].hasError('required')) {
          <mat-error id="email-required" aria-live="polite"
            >Please enter your email address.</mat-error
          >
          } @if (formControls['email'].hasError('email')) {
          <mat-error id="email-invalid" aria-live="polite"
            >Invalid email format.</mat-error
          >
          }
        </mat-form-field>

        <!-- password -->
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Password</mat-label>
          <input
            matInput
            [type]="showPassword ? 'text' : 'password'"
            formControlName="password"
            title="Password"
            autocomplete="current-password" />
          <button
            mat-icon-button
            matSuffix
            type="button"
            (click)="toggleShowPassword()"
            [attr.aria-label]="showPassword ? 'Hide password' : 'Show password'">
            <mat-icon>
              {{ showPassword ? 'visibility_off' : 'visibility' }}
            </mat-icon>
          </button>
          @if (formControls['password'].hasError('required')) {
          <mat-error id="password-required" aria-live="polite"
            >Please enter your password.</mat-error
          >
          } @if (formControls['password'].hasError('minlength')) {
          <mat-error id="password-invalid" aria-live="polite"
            >Your password must be at least 6 characters.</mat-error
          >
          }
        </mat-form-field>

        <!-- forgot password -->
        <div class="forgot-password">
          <a routerLink="/forgot-password">Forgot Password?</a>
        </div>

        <!-- sign in form actions -->
        <mat-card-actions>
          <button
            matButton="filled"
            class="sign-in-button"
            type="submit"
            [disabled]="signinForm.invalid || isLoading">
            Sign In
          </button>
        </mat-card-actions>
      </form>
    </mat-card-content>
    <mat-card-footer
      class="signin-footer"
      role="contentinfo"
      aria-label="Copyright">
      <small>&copy; {{ year }} Gregory Wiley. All rights reserved.</small>
    </mat-card-footer>
  </mat-card>
</main>
